[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
jupyter = "*"
pytest = "*"

[packages]
sympy = "*"
control = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
control2020 = "*"

[requires]
python_version = "3.8"
